<!doctype html>
<html>
<head>
    <title>TrackerRA</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <img class="jumbotronIMG" src="img/books.jpg" alt="Books">

        <h2>ILib - <br /> Making personal library cloud storage easy</h2>
		<p class="login">Intrested?</p>

        <p class="login">Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

        <p class="learn">Learn more about ILib <a href="#">here!</a></p>
         <!-- link to about page -->

    </div>

</div>
</body>
</html>

